/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px !important


.theme-default-content.custom img
  max-width 100%

video
  max-width 100%
  display block


.home .footer
  position absolute
  bottom 0
  left 50%
  width 100%
  transform translate(-50%, -50%)